.dialog {
  width: 820px;
  height: 312px;
  background: #FFFFFF;
  color: #505050;
  display: flex;
  flex-direction: column;
}

.dialog .dialog__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  flex: 0 0 75px;
  border-radius: 2px 2px 0 0;
}

.stripped-big {
  height: 340px;
  width: 820px;
  background: #FFFFFF;
  color: #505050;
  display: flex;
  flex-direction: column;
}

.stripped-mid {
  width: 820px;
  background: #FFFFFF;
  color: #505050;
  display: flex;
  flex-direction: column;
}

.stripped-alert {
  height: 200px;
  width: 820px;
  background: #FFFFFF;
  color: #505050;
  display: flex;
  flex-direction: column;
}

.dialog.dialog--info .dialog__header {
  background-color: #10243e;
}

.dialog.dialog--warn .dialog__header {
  background-color: #ff5f7b;
}

.dialog .dialog__cover-image {
  padding-right: 15px;
}

.dialog .dialog__title {
  color: #fff;
}

.dialog .dialog__title h2 {
  font-size: 14px;
  line-height: max(18px, 1.5em);
}

.dialog .dialog__contents {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dialog .dialog__contents form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dialog .dialog__contents form > div:first-child {
  flex-grow: 1;
}

.dialog .dialog__footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.dialog p {
  font-size: 14px;
  line-height: max(19px, 1.5em);
}
