.rename-dialog .message::before {
  content: '*';
}

.rename-dialog .more-icon {
  font-size: 16px;
  vertical-align: middle;
}

.rename-dialog a,
.rename-dialog a:visited,
.rename-dialog .file-open label {
  text-decoration: none;
  color: #48aaff;
  cursor: pointer;
}

.main-title {
  font-size: 14px;
  font-weight: bold;
}

.main-subtitle {
  font-size: 12px;
  font-weight: normal;
}

.low-bottom {
  font-size: 12px;
}